* {
	margin:0;
	padding: 0;
}
a{
	text-decoration: none;
}
.container{
	position: relative;
	width: 436px;
	height: 300px;
	margin: 100px auto 0 auto;
	box-shadow: 0 0 5px green;
	overflow: hidden;
}
.wrap{
	position: absolute;
	width: 1744px;
	height: 300px;
	left: -436px;
	z-index: 1;
}
.container .wrap img{
	float: left;
	width: 436px;
	height: 300px;
}
.container .buttons{
	position: absolute;
	right: 0px;
	bottom: 20px;
	width: 150px;
	height: 10px;
	z-index: 2;
}
.buttons span{
	margin-left: 5px;
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50px;
	background-color: green;
	text-align: center;
	color: white;
	cursor: pointer;
}
.container .buttons span.on{
	background-color: red;
}
.container .arrow{
	position: absolute;
	top: 35%;
	color: green;
	padding: 0px 14px;
	border-radius: 50%;
	font-size: 50px;
	z-index: 2;
	display: none;
}
.container .arrow_left{
	left: 10px;
}
.container .arrow_right{
	right: 10px;
}
.container:hover .arrow{
	display: block;
}
.container .arrow:hover{
	background-color: rgba(0,0,0,0.2);
}