* {
	margin:0;
	padding: 0;
}
a{
	text-decoration: none;
}
.container{				/* 设置容器为图片大小，用来展示图片，相对定位，溢出部分隐藏*/
	position: relative;
	width: 400px;
	height: 300px;
	margin: 100px auto 0 auto;
	box-shadow: 0 0 15px green;
	overflow: hidden;
	border-radius: 20px;
}
.wrap{ 						/* 图片的第一容器，大小为所有图片的总和，绝对定位，展示第一张图片*/
	position: absolute;
	width: 2400px;
	height: 300px;
	left: -400px;
	z-index: 1;
}
.container .wrap img{  /* 设置图片大小 */
	float: left;
	width: 400px;
	height: 300px;
}
.container .buttons{
	position: absolute;
	right: 0px;
	bottom: 20px;
	width: 150px;
	height: 10px;
	z-index: 2;
}
.buttons span{
	margin-left: 5px;
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50px;
	background-color: green;
	text-align: center;
	color: white;
	cursor: pointer;
}
.container .buttons span.on{
	background-color: red;
}
.container .arrow{		/* 设置箭头的属性，默认为隐藏 */
	position: absolute;
	top: 35%;
	color: green;
	padding: 0px 14px;
	border-radius: 50%;
	font-size: 50px;
	z-index: 2;
	display: none;
}
.container .arrow_left{
	left: 10px;
}
.container .arrow_right{
	right: 10px;
}
.container:hover .arrow{		/* 鼠标悬浮在容器的时候显示箭头 */
	display: block;
}
.container .arrow:hover{
	background-color: rgba(0,0,0,0.3);
}